.background {
    background-image: url('../public/ribbon.jpg');
    background-size: 90%;
    background-position: -350% 30%;
    /* background-position: right; */

}
body {
    /*background: rgb(255,255,255);*/
    background: radial-gradient(circle,rgba(0,90,156,1) 30%, rgba(0,90,156,1) 50%,rgba(0,90,156,1) 70%,rgba(0,90,156,1) 90%); 
}

/*habits*/
.gradient {
    background-color: #52CC7A;
    background-image: linear-gradient(315deg, #52CC7A 0%, #52cc7a 90%); /*dark green*/
}
/*calendar*/
.gradient1 {
    background-color: #52CC7A;
    background-image: linear-gradient(315deg, #52CC7A 0%, #52cc7a 90%);
}

.done{
    color: rgb(0, 105, 62);
}
.fail{
    color:rgb(139, 0, 0);
}
.day-headings {
    color: #ffffff;
}
.text-light {
    font-family: monospace, 'Montserrat', sans-serif;
    font-size: larger;
    
  }